.main-body{
  margin: 0, 0;
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
footer {
  position: absolute;
  background-color: #082f69;
  color: whitesmoke;
  padding: 20px;
  bottom: 0;
  right: 0;
  left: 0;
}